<?xml version="1.0" encoding="utf-8"?>
<manifest package="zlk.com.rxbuslearn"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.camera"/> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus"/> <!-- 自动聚焦权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".base.BaseApplication"
        android:theme="@style/AppTheme">

        <!--官方全面屏适配方案：其中ratio_float为浮点数，官方建议为2.1或更大，因为18.5：9=2.055555555……，如果日后出现纵横比更大的手机，此值将会更大。-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".swipetoloadlayout.SwipeToLoadLayoutActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".slidedel.SlidingDelActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".edittextsearch.EditSearchActivity"/>
        <activity android:name=".audio.AudioActivity"/>
        <activity android:name=".gift.GifActivity"/>
        <activity android:name=".notice.NoticeActivity"/>
        <activity android:name=".expandablelistview.ExpandableListViewActivity"/>
        <activity android:name=".img.ImgSelectActivity"/>
        <activity android:name=".scan.ScanViewActivity"/>
        <activity android:name=".scan.ScanHalfScreenActivity"/>
        <activity android:name=".scan.list.ScanListActivity"/>
        <activity android:name=".scan.androidzxing.test.AndroidZXingActivity"/>
        <activity android:name=".scan.androidzxing.test.AndroidZXingHalfActivity"/>
        <activity android:name=".wgallery.MainWGalleryActivity"/>
        <activity android:name=".wgallery.SimpleWGalleryActivity"/>
        <activity android:name=".wgallery.WithWGalleryAdapterActivity"/>
        <activity android:name=".wgallery.AllAty"/>
    </application>

</manifest>